/**************************
VARIABLES
**************************/

$deepPurple: #673AB7;
$lavender: #7E57C2;
$whitePurple: #EDE7F6;
$lightLavender: #9575CD;
$wt: rgba(255,255,255,0.9);
$wt2: whitesmoke;
$steel: rgb(50, 50, 50);
$gold: #AD8B32;

/**************************
WEBKITS
**************************/

@-webkit-keyframes arrow {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 2.5%;
  }
  100% {
    bottom: 1%;
  }
}

@keyframes arrow {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 2.5%;
  }
  100% {
    bottom: 1%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**************************
MIXINS
**************************/

@mixin flexbox($direction, $justify, $align) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
          flex-direction: $direction;
  -webkit-box-pack: $justify;
  -webkit-justify-content: $justify;
  -ms-flex-pack: $justify;
          justify-content: $justify;
  -webkit-box-align: $align;
  -webkit-align-items: $align;
  -ms-flex-align: $align;
          align-items: $align;
}

@mixin transition {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@mixin transitionHover {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

/**************************
SETUP
**************************/


@-ms-viewport {
  orientation: portrait;
}
@-o-viewport {
  orientation: portrait;
}
@viewport {
  orientation: portrait;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: url('media/stardust.png');
}

p, h1, h2, h3, h4, h5, a, li {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: $lightLavender;
  font-style: italic;
  text-decoration: none;
}

a:hover {
  color: $whitePurple;
  text-decoration: none;
  @include transitionHover;
}
*:focus {
  outline: none;
}
/**************************
LANDING
**************************/

#svgLandFallback {
  height: 600px;
}

#githubLand {
  position: absolute;
  z-index: 99;
  right: 25px;
  top: 15px;
  color: $whitePurple;
  font-size: 30px;
  opacity: 0;
  -webkit-animation: fadeIn 1s linear 2.4s;  animation: fadeIn 1s linear 2.4s;
  -webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.landingWrapper {
  z-index:98;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  background: -webkit-linear-gradient($deepPurple, #9575CD);
  background: linear-gradient($deepPurple,#9575CD);
  position: relative;
  @include flexbox(column, center, center);
  .arrowDown {
    position: absolute;
    width: 100%;
    @include flexbox(column, center, center);
    color: white;
    font-size: 35px;
    bottom: 1%;
    -webkit-animation: arrow 3s infinite ease-in;  animation: arrow 3s infinite ease-in;
  }
  i {
    opacity: 0;
    -webkit-animation: fadeIn 1s ease 2.5s;
    animation: fadeIn 1s ease 2.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

.contentWrapper {
  width: 80%;
  height: 100%;
  @include flexbox(column, center, center);
  object {
    z-index: 3;
    height: 80%;
    width: 80%;
  }
}

/**************************
HEADER NAV
**************************/

.header {
  z-index: 97;
  background-color: $lightLavender;
  width: 100%;
  height: 50px;
  display: none;
  position: fixed;
  @include transition;
  top:0;

  .dropDownWrap {
    float: right;
    height: 50px;
    margin-right:25px;
    @include flexbox(row,center,center);
    display: none;
    .dropdownmenu {
      position: absolute;
      width: 0;
      font-size: 25px;
      top: 52px;
      right: 2px;
      width: 200px;
      padding: 0;
      background-color: white;
      text-align: center;
      border-radius: 5%;
      text-decoration: none;
      list-style: none;
      @include transition;
      box-shadow: 0px 0px 1px .5px black;
      @include flexbox(column, center, center);
      li {
        border-bottom: 1px solid lightgray;
        width: 80%;
      }
      .bottomLink {
        border-bottom: none;
      }
      a:hover {
        color: $deepPurple;
      }
      a:active, a:visited, a:focus {
        text-decoration: none;
      }
    }
    #dropDownButton {
      color: white;
      font-size: 1.5rem;
      height: 40px;
      width: 40px;
      border: 1px solid white;
      border-radius: 50%;
      @include transition;
      @include flexbox(row, center, center);
      &:hover {
        cursor: pointer;
        background-color: white;
        color: $deepPurple;
      }
      &:focus, &:active, &:visited {
        color: white;
        background-color: none;
      }
    }
  }

  .headerWrapper {
    width: 100%;
    height: 50px;
    max-width: 1400px;
    margin: 0 auto;
  }
  .headerLogo {
    height: 100%;
    width: 30%;
    float: left;
    @include flexbox(row, flex-start, center);
    object {
      height: 95%;
      margin-left: 25px;
    }
    p {
      margin-left: 10px;
      color: white;
      font-size: 20px;
      font-weight: lighter;
    }
  }
  .navButtons {
    width: 60%;
    float: right;
    height: 100%;
    margin-right: 25px;
    @include flexbox(row, flex-end, center);
    a {
      height: 100%;
      @include flexbox(row, center, center);
      text-decoration: none;
    }
    button {
      margin-right: 5px;
      margin-left: 5px;
      border-radius: 15px;
      background-color: white;
      border: 1px solid $whitePurple;
      width: 100px;
      background-color: rgba(255, 255, 255, 0);
      color: white;
      @include transition;
      &:hover {
        background-color: white;
        border: 1px solid white;
        color: $lightLavender;
      }
    }
    #githubNav {
      margin-left: 5px;
      color: $whitePurple;
      font-size: 30px;
      &:hover {
        color: white;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}



/**************************
ABOUT PAGE
**************************/

.aboutPage {
  height: 100vh;
  max-height: 1000px;
  min-height: 800px;
  width: 100%;
}

#aboutGrabber {
  height: 100%;
  width: 100%;
}

.contentWrap {
  width: 100%;
  height: 30%;
  max-height: 200px;
  margin: 0 auto;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;

  /**************************
  ABOUT
  **************************/
  .aboutWrapper {
    width: 90%;
    height: 100px;
    padding-top: 125px;
    @include flexbox(row, center, center);

    .hiyaWrap {
      width: 100%;
      height: 100px;
      @include flexbox(column, center, center);
    .lines {
      width: 0%;
      height: 10px;
      margin-top: 25px;
      @include flexbox(row, center, center);
      object {
        height: 100%;
        width: 100%;
      }
    }
    #hiya {
      opacity: 0;
      @include transition;
    }
    .hiyaAppear {
      -webkit-animation: fadeIn .5s linear;
      animation: fadeIn .5s linear;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
    }
      h1 {
        color: white;
        font-weight: bold;
        font-size: 6rem;
      }
    }
  }
}

.aboutMeWrap {
  width: 100%;
  max-width: 1426px;
  margin: 0 auto;
  height: 400px;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.2s ease-in;
          transition: 0.2s ease-in;
  //transform: scaleY(1);
  @include flexbox(row, center, center);
  -webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;
  .picture {
    width: 400px;
    @include transition;
    @include flexbox(column, center, center);
    #profpic {
      @include transition;
      -webkit-transform: translateX(-4000px);
          -ms-transform: translateX(-4000px);
              transform: translateX(-4000px);
      height: 300px;
      width: 300px;
      border-radius: 50%;
    }
  }
  .description {
    width: 400px;
    height: 100%;
    @include transition;
    @include flexbox(column, center, flex-start);
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    h1 {
      color: white;
      margin-bottom: 25px;
      font-size: 40px;
    }
    h2 {
      font-weight: lighter;
      font-size: 30px;
    }
    #passionate {
      color: $lavender;
    }
    #creative {
      color: $lightLavender;
    }
    #curious {
      color: #B39DDB;
    }
    p {
      color: white;
      font-size: 20px;
    }
    #reachOut {
      margin-top: 25px;
    }
    #emailLink {
      text-align: center;
      font-size: 20px;
    }
  }

}

.continueAnimate {
  -webkit-animation: arrow 3s infinite ease-in;  animation: arrow 3s infinite ease-in;
  width: 100%;
  position: fixed;
  bottom: 10px;
  #continue {
    opacity: 0;
    @include transition;
    @include flexbox(column, center, center);
      p {
        color: white;
        font-size: 20px;
      }
      i {
        color: white;
        font-size: 25px;
      }
  }
}


.continueAppear {
  -webkit-animation: fadeIn 1s linear;
  animation: fadeIn 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}


/**************************
WORK
**************************/

.workWrap {
  position: relative;
  padding-top: 50px;
  z-index: 40;
  width: 100%;
  min-height: 750px;
  background-color: white;
  padding-bottom: 25px;
  background: url('media/subtle_white_feathers.png');

  .theGoods {
    width: 100%;
    height: 100px;
    opacity: 0;
    @include transition;
    @include flexbox(column, center, center);
    h1 {
      color: $gold;
      font-weight: bold;
      font-size: 6rem;
      text-shadow: 1px 1px 1px black;
    }
  }
  .lineWork {
    width: 0%;
    margin: 0 auto;
    height: 10px;
    -webkit-transition: 1s ease;transition: 1s ease;
    @include flexbox(row, center, center);
    object {
      height: 100%;
      width: 100%;
    }
  }
  .individWorkWrap {
    width: 100%;
    height: 85%;
    opacity: 1;
    margin-bottom: 50px;
    @include transition;
    @include flexbox(row, center, center);
    -webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;
    .works {
      position: relative;
      z-index: 40;
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 25px;
      width: 300px;
      height: 510px;
      -webkit-transform: translateY(1000px);
          -ms-transform: translateY(1000px);
              transform: translateY(1000px);
      @include transition;
      @include flexbox(column, center, center);
      border: 1px solid $steel;
      box-shadow: 0px 2px 5px 0px $steel;
      background-color: white;
      background-attachment: fixed;
      &:hover img {
        @include transitionHover;
          box-shadow: 0px 0px 20px 1px $gold;
          border-radius: 10%;
      }
      img {
        margin-top: 25px;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        @include transition;
      }
      img:hover {
        cursor: pointer;
        @include transitionHover;
      }
      .description {
        height: 300px;
        width: 90%;
        margin-top: 25px;

        h2 {
          font-weight: bold;
          height: 60px;
          text-align: center;
          @include flexbox(column, center, center);
          color: $gold;
        }
        p {
          margin-top: 10px;
          color: $steel;
        }
        a:hover {
          color: $gold;
          @include transitionHover;
        }
      }
      .link {
        height: 50px;
        width: 90%;
        @include flexbox(row, center, center);
        a {
          margin: 10px;
          font-style: normal;
        }
        a:hover {
          color: $gold;
          @include transitionHover;
        }
      }
    }
  }
  #moreWork {
    width: 100%;
    height: 25px;
    margin-top: 25px;
    text-align: center;
    font-style: normal;
    @include flexbox(row, center, center);
  }
  #moreWork:hover {
    @include transitionHover;
    color: $deepPurple;
    text-decoration: underline;
  }
}

/**************************
RESUME
**************************/

.resumeWrap {
  padding-top: 25px;
  z-index: 60;
  width: 100%;
  min-height: 750px;
  @include flexbox(column, flex-start, center);
  background: url('media/stardust.png');
  position: relative;
  .resume {
    width: 0%;
    height: 200px;
    opacity: 0;
    @include transition;
    @include flexbox(column, center, center);
    background-color: $lightLavender;
    #resumeTitle {
      color: white;
      font-weight: lighter;
      font-size: 6rem;
      font-weight: bold;
    }
    .lines {
      width: 0%;
      height: 10px;
      margin-top: 25px;
      @include flexbox(row, center, center);
      object {
        height: 100%;
        width: 100%;
      }
    }
  }
  .fullResume {
    width: 100%;
    height: 25px;
    padding-top: 25px;
    @include flexbox(row, center, center);
    a {
      color: $whitePurple;
      font-style: normal;
    }
    a:hover {
      @include transitionHover;
      color: white;
      text-decoration: underline;
    }
  }
  .skillsWrap {
    width: 100%;
    max-width: 1426px;
    margin-top: 25px;
    @include flexbox(row, center, center);
    -webkit-flex-wrap: wrap;  -ms-flex-wrap: wrap;  flex-wrap: wrap;
    .skillsTitle {
      width: 100%;
      opacity: 0;
      @include transition;
      margin-top: 15px;
      @include flexbox(row, center, center);
      h2 {
        color: white;
        font-weight: bold;
        font-size: 4rem;
      }
    }
    .skill1, .skill2, .skill3, .skill4 {
      -webkit-transform: translateY(1000px);
          -ms-transform: translateY(1000px);
              transform: translateY(1000px);
      @include transition;
    }
    .skill {
      position: relative;
      z-index: 80;
      width: 300px;
      height: 300px;
      margin: 25px;
      border: 1px solid $whitePurple;
      @include transition;
      @include flexbox(column, flex-start, center);
      &:hover {
        @include transitionHover;
        box-shadow: 0px 0px 10px 2px $lightLavender;
      }
      h3 {
        margin-bottom: 10px;
        color: white;
        font-weight: bold;
        margin: 25px;
      }
      p {
        color: white;
        margin-top: 5px;
      }
    }
  }
  .experienceWrap {
    width: 100%;
    max-width: 1426px;
    margin-top: 25px;
    @include flexbox(row, center, center);
    -webkit-flex-wrap: wrap;  -ms-flex-wrap: wrap;  flex-wrap: wrap;
    .experienceTitle {
      width: 100%;
      opacity: 0;
      margin-top: 15px;
      @include transition;
      @include flexbox(row, center, center);
      h2 {
        color: white;
        font-weight: bold;
        font-size: 4rem;
      }
    }

    .exp1, .exp2, .exp3, .exp4 {
      -webkit-transform: translateY(1000px);
          -ms-transform: translateY(1000px);
              transform: translateY(1000px);
    }

    .experience {
      position: relative;
      z-index: 80;
      @include transition;
      width: 300px;
      height: 300px;
      margin: 25px;
      border: 1px solid $whitePurple;
      @include flexbox(column, flex-start, center);
      &:hover {
        @include transitionHover;
        box-shadow: 0px 0px 10px 2px $lightLavender;
      }
      h3 {
        margin-bottom: 10px;
        color: white;
        font-weight: bold;
        margin: 25px 25px 10px 25px;
      }
      .titleTag {
        margin: 0;
        color: #B39DDB;
        font-style: italic;
      }
      p {
        color: white;
        margin-top: 5px;
      }
      .bullets {
        width: 80%;
        li {
          color: white;
          position: relative;
          margin: 10px;
          list-style-position: outside;
          text-indent: -1em;
        }
      }
    }
  }
  .educationWrap {
    width: 100%;
    max-width: 1426px;
    margin-top: 25px;
    @include flexbox(row, center, center);
    -webkit-flex-wrap: wrap;  -ms-flex-wrap: wrap;  flex-wrap: wrap;
    .educationTitle {
      margin-top: 15px;
      @include transition;
      width: 100%;
      opacity: 0;
      @include flexbox(row, center, center);
      h2 {
        color: white;
        font-weight: bold;
        font-size: 4rem;
      }
    }
    .education {
      width: 80%;
      position: relative;
      z-index: 80;
      -webkit-transform: translateY(1000px);
          -ms-transform: translateY(1000px);
              transform: translateY(1000px);
      @include transition;
      max-width: 800px;
      height: 200px;
      margin: 25px 25px 50px 25px;
      border: 1px solid $whitePurple;
      @include flexbox(column, center, center);
      &:hover {
        @include transitionHover;
        box-shadow: 0px 0px 10px 2px $lightLavender;
      }
      h3 {
        margin-bottom: 5px;
        color: white;
        font-weight: bold;
        margin: 0 25px 10px 25px;
      }
      .titleTag {
        margin: 0;
        color: #B39DDB;
        font-style: italic;
      }
      p {
        color: white;
      }
      #ironYard {
        margin-top: 15px;
      }
    }
  }
}

/**************************
CONTACT
**************************/

.headerWhite {
  z-index: 97;
  background-color: white;
  width: 100%;
  height: 50px;
  display: none;
  position: fixed;
  @include transition;
  top:0;

  .dropDownWrap {
    float: right;
    height: 50px;
    margin-right:25px;
    @include flexbox(row,center,center);
    display: none;
    .dropdown-menu {
      width: 0;
      font-size: 25px;
      text-align: center;
    }
    #dropDownButton {
      color: $deepPurple;
      font-size: 1.5rem;
      height: 40px;
      width: 40px;
      border: 1px solid $deepPurple;
      border-radius: 50%;
      @include transition;
      @include flexbox(row, center, center);
      &:hover {
        cursor: pointer;
        background-color: $deepPurple;
        color: white;
      }
    }
  }
  .headerWrapper {
    width: 100%;
    height: 50px;
    max-width: 1400px;
    margin: 0 auto;
  }
  .headerLogo {
    height: 100%;
    width: 30%;
    float: left;
    @include flexbox(row, flex-start, center);
    object {
      height: 95%;
      margin-left: 25px;
      .st0 {
        stroke: $deepPurple;
      }
    }
    p {
      margin-left: 10px;
      color: $deepPurple;
      font-size: 20px;
      font-weight: lighter;
    }
  }
  .navButtons {
    width: 60%;
    float: right;
    height: 100%;
    margin-right: 25px;
    @include flexbox(row, flex-end, center);
    a {
      height: 100%;
      @include flexbox(row, center, center);
      text-decoration: none;
    }
    button {
      margin-right: 5px;
      margin-left: 5px;
      border-radius: 15px;
      background-color: white;
      border: 1px solid $deepPurple;
      width: 100px;
      background-color: rgba(255, 255, 255, 0);
      color: $deepPurple;
      @include transition;
      &:hover {
        background-color: $lightLavender;
        border: 1px solid $lightLavender;
        color: white;
      }
    }
    #githubNav {
      margin-left: 5px;
      color: $deepPurple;
      font-size: 30px;
      &:hover {
        color: $lightLavender;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

.contactWrap {
  position: relative;
  z-index:81;
  height: 100vh;
  height: 100%;
  min-height: 800px;
  @include flexbox(column, center, center);
  background: -webkit-linear-gradient($deepPurple, #9575CD);
  background: linear-gradient($deepPurple,#9575CD);
  #contactTitle {
    max-width: 800px;
    display: none;
    @include transition;
  }
  .contacts {
    color: white;
    font-size: 4em;
    @include transition;
    @include flexbox(column, flex-start, flex-start);
    width: 400px;
    height: 150px;
    opacity: 0;
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: white;
    }
    .icon {
      margin-right: 25px;
    }

    #mail {
      border: 1px solid white;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      @include flexbox(row, center, center);
    }
    #phone {
      border: 1px solid white;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      @include flexbox(row, center, center);
    }
    h2 {
      margin: 10px;
      font-size: 2rem;
      @include flexbox(row, center, center);
    }
  }
  .linkWrap {
    padding-top: 25px;
    @include flexbox(column, center, center);
    opacity: 0;
    @include transition;
    h2 {
      color: white;
      font-weight: lighter;
      font-weight: bold;
    }
  }
  .links {
    color: white;
    font-size: 2rem;
    height: 50px;
    margin: 5px;
    @include transition;
    @include flexbox(row, center, center);
    a {
      color: $whitePurple;
      @include transition;
      margin: 25px;
      width: 100px;
    }
    a:hover {
      color: white;
      cursor: pointer;
    }
    a:hover p {
      text-decoration: underline;
    }
    .viewResume {
      margin-top: 25px;
      @include flexbox(column,center,center);
      i {
        font-size: 2.5rem;
        height: 50px;
        width: 50px;
        border: 1px solid white;
        padding-left: 1px;
        border-radius: 50%;
        @include transition;
        @include flexbox(row, center, center);
        &:hover {
          background-color: white;
          color:$deepPurple;
        }
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    @include flexbox(row, center, center);
    i {
      @include transition;
      height: 35px;
      width: 35px;
      margin-left: 10px;
      font-size: 2rem;
      margin-right: 10px;
      border: 1px solid $deepPurple;
      color: $deepPurple;
      border-radius: 50%;
      @include flexbox(row, center, center);
    }
    i:hover {
      color: white;
      border: 1px solid white;
      background-color: $deepPurple;
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}


/**************************
IMPORTS
**************************/

@import 'queries'
