@media screen and (max-width: 1400px) {
  .workWrap {
    .individWorkWrap {
    max-width: 800px;
    height: 85%;
    margin: 0 auto;
    }
    .theGoods {
      max-width: 800px;
      margin: 0 auto;
    }
    .lineWork {
      max-width: 800px;
      margin: 0 auto;
    }
  }

.resumeWrap {
    .skillsWrap {
      max-width: 800px;
      margin: 0 auto;
    }
    .experienceWrap {
      max-width: 800px;
      margin: 0 auto;
    }
    .educationWrap {
      margin: 0 auto;
    }
}
}
