/**************************
VARIABLES
**************************/
/**************************
WEBKITS
**************************/
@-webkit-keyframes arrow {
  0% {
    bottom: 1%; }
  50% {
    bottom: 2.5%; }
  100% {
    bottom: 1%; } }
@keyframes arrow {
  0% {
    bottom: 1%; }
  50% {
    bottom: 2.5%; }
  100% {
    bottom: 1%; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/**************************
MIXINS
**************************/
/**************************
SETUP
**************************/
@-ms-viewport {
  orientation: portrait; }
@-o-viewport {
  orientation: portrait; }
@viewport {
  orientation: portrait; }
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  background: url("media/stardust.png"); }

p, h1, h2, h3, h4, h5, a, li {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none; }

a {
  color: #9575CD;
  font-style: italic;
  text-decoration: none; }

a:hover {
  color: #EDE7F6;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  transition: all .25s ease; }

/**************************
LANDING
**************************/
#svgLandFallback {
  height: 600px; }

#githubLand {
  position: absolute;
  z-index: 99;
  right: 25px;
  top: 15px;
  color: #EDE7F6;
  font-size: 30px;
  opacity: 0;
  -webkit-animation: fadeIn 1s linear 2.4s;
  animation: fadeIn 1s linear 2.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
  #githubLand:hover {
    color: white;
    cursor: pointer; }

.landingWrapper {
  z-index: 98;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  background: -webkit-linear-gradient(#673AB7, #9575CD);
  background: linear-gradient(#673AB7, #9575CD);
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .landingWrapper .arrowDown {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 35px;
    bottom: 1%;
    -webkit-animation: arrow 3s infinite ease-in;
    animation: arrow 3s infinite ease-in; }
  .landingWrapper i {
    opacity: 0;
    -webkit-animation: fadeIn 1s ease 2.5s;
    animation: fadeIn 1s ease 2.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

.contentWrapper {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .contentWrapper object {
    z-index: 3;
    height: 80%;
    width: 80%; }

/**************************
HEADER NAV
**************************/
.header {
  z-index: 97;
  background-color: #9575CD;
  width: 100%;
  height: 50px;
  display: none;
  position: fixed;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  top: 0; }
  .header .dropDownWrap {
    float: right;
    height: 50px;
    margin-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: none; }
    .header .dropDownWrap .dropdown-menu {
      width: 0;
      font-size: 25px;
      text-align: center; }
    .header .dropDownWrap #dropDownButton {
      color: white;
      font-size: 1.5rem;
      height: 40px;
      width: 40px;
      border: 1px solid white;
      border-radius: 50%;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .header .dropDownWrap #dropDownButton:hover {
        cursor: pointer;
        background-color: white;
        color: #673AB7; }
  .header .headerWrapper {
    width: 100%;
    height: 50px;
    max-width: 1400px;
    margin: 0 auto; }
  .header .headerLogo {
    height: 100%;
    width: 30%;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .headerLogo object {
      height: 95%;
      margin-left: 25px; }
    .header .headerLogo p {
      margin-left: 10px;
      color: white;
      font-size: 20px;
      font-weight: lighter; }
  .header .navButtons {
    width: 60%;
    float: right;
    height: 100%;
    margin-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .navButtons a {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none; }
    .header .navButtons button {
      margin-right: 5px;
      margin-left: 5px;
      border-radius: 15px;
      background-color: white;
      border: 1px solid #EDE7F6;
      width: 100px;
      background-color: rgba(255, 255, 255, 0);
      color: white;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .header .navButtons button:hover {
        background-color: white;
        border: 1px solid white;
        color: #9575CD; }
    .header .navButtons #githubNav {
      margin-left: 5px;
      color: #EDE7F6;
      font-size: 30px; }
      .header .navButtons #githubNav:hover {
        color: white;
        cursor: pointer;
        text-decoration: none; }

/**************************
ABOUT PAGE
**************************/
.aboutPage {
  height: 100vh;
  max-height: 1000px;
  min-height: 800px;
  width: 100%; }

#aboutGrabber {
  height: 100%;
  width: 100%; }

.contentWrap {
  width: 100%;
  height: 30%;
  max-height: 200px;
  margin: 0 auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /**************************
  ABOUT
  **************************/ }
  .contentWrap .aboutWrapper {
    width: 90%;
    height: 100px;
    padding-top: 125px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .contentWrap .aboutWrapper .hiyaWrap {
      width: 100%;
      height: 100px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .contentWrap .aboutWrapper .hiyaWrap .lines {
        width: 0%;
        height: 10px;
        margin-top: 25px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .contentWrap .aboutWrapper .hiyaWrap .lines object {
          height: 100%;
          width: 100%; }
      .contentWrap .aboutWrapper .hiyaWrap #hiya {
        opacity: 0;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
      .contentWrap .aboutWrapper .hiyaWrap .hiyaAppear {
        -webkit-animation: fadeIn .5s linear;
        animation: fadeIn .5s linear;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .contentWrap .aboutWrapper .hiyaWrap h1 {
        color: white;
        font-weight: bold;
        font-size: 6rem; }

.aboutMeWrap {
  width: 100%;
  max-width: 1426px;
  margin: 0 auto;
  height: 400px;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .aboutMeWrap .picture {
    width: 400px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .aboutMeWrap .picture #profpic {
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      -webkit-transform: translateX(-4000px);
      -ms-transform: translateX(-4000px);
      transform: translateX(-4000px);
      height: 300px;
      width: 300px;
      border-radius: 50%; }
  .aboutMeWrap .description {
    width: 400px;
    height: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
    .aboutMeWrap .description h1 {
      color: white;
      margin-bottom: 25px;
      font-size: 40px; }
    .aboutMeWrap .description h2 {
      font-weight: lighter;
      font-size: 30px; }
    .aboutMeWrap .description #passionate {
      color: #7E57C2; }
    .aboutMeWrap .description #creative {
      color: #9575CD; }
    .aboutMeWrap .description #curious {
      color: #B39DDB; }
    .aboutMeWrap .description p {
      color: white;
      font-size: 20px; }
    .aboutMeWrap .description #reachOut {
      margin-top: 25px; }
    .aboutMeWrap .description #emailLink {
      text-align: center;
      font-size: 20px; }

.continueAnimate {
  -webkit-animation: arrow 3s infinite ease-in;
  animation: arrow 3s infinite ease-in;
  width: 100%;
  position: fixed;
  bottom: 10px; }
  .continueAnimate #continue {
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .continueAnimate #continue p {
      color: white;
      font-size: 20px; }
    .continueAnimate #continue i {
      color: white;
      font-size: 25px; }

.continueAppear {
  -webkit-animation: fadeIn 1s linear;
  animation: fadeIn 1s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

/**************************
WORK
**************************/
.workWrap {
  position: relative;
  padding-top: 50px;
  z-index: 40;
  width: 100%;
  min-height: 750px;
  background-color: white;
  padding-bottom: 25px;
  background: url("media/subtle_white_feathers.png"); }
  .workWrap .theGoods {
    width: 100%;
    height: 100px;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .workWrap .theGoods h1 {
      color: #AD8B32;
      font-weight: bold;
      font-size: 6rem;
      text-shadow: 1px 1px 1px black; }
  .workWrap .lineWork {
    width: 0%;
    margin: 0 auto;
    height: 10px;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .workWrap .lineWork object {
      height: 100%;
      width: 100%; }
  .workWrap .individWorkWrap {
    width: 100%;
    height: 85%;
    opacity: 1;
    margin-bottom: 50px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .workWrap .individWorkWrap .works {
      position: relative;
      z-index: 40;
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 25px;
      width: 300px;
      height: 520px;
      -webkit-transform: translateY(1000px);
      -ms-transform: translateY(1000px);
      transform: translateY(1000px);
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border: 1px solid #323232;
      box-shadow: 0px 2px 5px 0px #323232;
      background-color: white;
      background-attachment: fixed; }
      .workWrap .individWorkWrap .works:hover img {
        -webkit-transition: all .25s ease;
        transition: all .25s ease;
        box-shadow: 0px 0px 20px 1px #AD8B32;
        border-radius: 10%; }
      .workWrap .individWorkWrap .works img {
        margin-top: 25px;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
      .workWrap .individWorkWrap .works img:hover {
        cursor: pointer;
        -webkit-transition: all .25s ease;
        transition: all .25s ease; }
      .workWrap .individWorkWrap .works .description {
        height: 300px;
        width: 90%;
        margin-top: 25px; }
        .workWrap .individWorkWrap .works .description h2 {
          font-weight: bold;
          height: 60px;
          text-align: center;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          color: #AD8B32; }
        .workWrap .individWorkWrap .works .description p {
          margin-top: 10px;
          color: #323232; }
        .workWrap .individWorkWrap .works .description a:hover {
          color: #AD8B32;
          -webkit-transition: all .25s ease;
          transition: all .25s ease; }
      .workWrap .individWorkWrap .works .link {
        height: 50px;
        width: 90%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .workWrap .individWorkWrap .works .link a {
          margin: 10px;
          font-style: normal; }
        .workWrap .individWorkWrap .works .link a:hover {
          color: #AD8B32;
          -webkit-transition: all .25s ease;
          transition: all .25s ease; }
  .workWrap #moreWork {
    width: 100%;
    height: 25px;
    margin-top: 25px;
    text-align: center;
    font-style: normal;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .workWrap #moreWork:hover {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    color: #673AB7;
    text-decoration: underline; }

/**************************
RESUME
**************************/
.resumeWrap {
  padding-top: 25px;
  z-index: 60;
  width: 100%;
  min-height: 750px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("media/stardust.png");
  position: relative; }
  .resumeWrap .resume {
    width: 0%;
    height: 200px;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #9575CD; }
    .resumeWrap .resume #resumeTitle {
      color: white;
      font-weight: lighter;
      font-size: 6rem;
      font-weight: bold; }
    .resumeWrap .resume .lines {
      width: 0%;
      height: 10px;
      margin-top: 25px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .resumeWrap .resume .lines object {
        height: 100%;
        width: 100%; }
  .resumeWrap .fullResume {
    width: 100%;
    height: 25px;
    padding-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .resumeWrap .fullResume a {
      color: #EDE7F6;
      font-style: normal; }
    .resumeWrap .fullResume a:hover {
      -webkit-transition: all .25s ease;
      transition: all .25s ease;
      color: white;
      text-decoration: underline; }
  .resumeWrap .skillsWrap {
    width: 100%;
    max-width: 1426px;
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .resumeWrap .skillsWrap .skillsTitle {
      width: 100%;
      opacity: 0;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      margin-top: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .resumeWrap .skillsWrap .skillsTitle h2 {
        color: white;
        font-weight: bold;
        font-size: 4rem; }
    .resumeWrap .skillsWrap .skill1, .resumeWrap .skillsWrap .skill2, .resumeWrap .skillsWrap .skill3, .resumeWrap .skillsWrap .skill4 {
      -webkit-transform: translateY(1000px);
      -ms-transform: translateY(1000px);
      transform: translateY(1000px);
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
    .resumeWrap .skillsWrap .skill {
      position: relative;
      z-index: 80;
      width: 300px;
      height: 300px;
      margin: 25px;
      border: 1px solid #EDE7F6;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .resumeWrap .skillsWrap .skill:hover {
        -webkit-transition: all .25s ease;
        transition: all .25s ease;
        box-shadow: 0px 0px 10px 2px #9575CD; }
      .resumeWrap .skillsWrap .skill h3 {
        margin-bottom: 10px;
        color: white;
        font-weight: bold;
        margin: 25px; }
      .resumeWrap .skillsWrap .skill p {
        color: white;
        margin-top: 5px; }
  .resumeWrap .experienceWrap {
    width: 100%;
    max-width: 1426px;
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .resumeWrap .experienceWrap .experienceTitle {
      width: 100%;
      opacity: 0;
      margin-top: 15px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .resumeWrap .experienceWrap .experienceTitle h2 {
        color: white;
        font-weight: bold;
        font-size: 4rem; }
    .resumeWrap .experienceWrap .exp1, .resumeWrap .experienceWrap .exp2, .resumeWrap .experienceWrap .exp3, .resumeWrap .experienceWrap .exp4 {
      -webkit-transform: translateY(1000px);
      -ms-transform: translateY(1000px);
      transform: translateY(1000px); }
    .resumeWrap .experienceWrap .experience {
      position: relative;
      z-index: 80;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      width: 300px;
      height: 300px;
      margin: 25px;
      border: 1px solid #EDE7F6;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .resumeWrap .experienceWrap .experience:hover {
        -webkit-transition: all .25s ease;
        transition: all .25s ease;
        box-shadow: 0px 0px 10px 2px #9575CD; }
      .resumeWrap .experienceWrap .experience h3 {
        margin-bottom: 10px;
        color: white;
        font-weight: bold;
        margin: 25px 25px 10px 25px; }
      .resumeWrap .experienceWrap .experience .titleTag {
        margin: 0;
        color: #B39DDB;
        font-style: italic; }
      .resumeWrap .experienceWrap .experience p {
        color: white;
        margin-top: 5px; }
      .resumeWrap .experienceWrap .experience .bullets {
        width: 80%; }
        .resumeWrap .experienceWrap .experience .bullets li {
          color: white;
          position: relative;
          margin: 10px;
          list-style-position: outside;
          text-indent: -1em; }
  .resumeWrap .educationWrap {
    width: 100%;
    max-width: 1426px;
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .resumeWrap .educationWrap .educationTitle {
      margin-top: 15px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      width: 100%;
      opacity: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .resumeWrap .educationWrap .educationTitle h2 {
        color: white;
        font-weight: bold;
        font-size: 4rem; }
    .resumeWrap .educationWrap .education {
      width: 80%;
      position: relative;
      z-index: 80;
      -webkit-transform: translateY(1000px);
      -ms-transform: translateY(1000px);
      transform: translateY(1000px);
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      max-width: 800px;
      height: 200px;
      margin: 25px 25px 50px 25px;
      border: 1px solid #EDE7F6;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .resumeWrap .educationWrap .education:hover {
        -webkit-transition: all .25s ease;
        transition: all .25s ease;
        box-shadow: 0px 0px 10px 2px #9575CD; }
      .resumeWrap .educationWrap .education h3 {
        margin-bottom: 5px;
        color: white;
        font-weight: bold;
        margin: 0 25px 10px 25px; }
      .resumeWrap .educationWrap .education .titleTag {
        margin: 0;
        color: #B39DDB;
        font-style: italic; }
      .resumeWrap .educationWrap .education p {
        color: white; }
      .resumeWrap .educationWrap .education #ironYard {
        margin-top: 15px; }

/**************************
CONTACT
**************************/
.headerWhite {
  z-index: 97;
  background-color: white;
  width: 100%;
  height: 50px;
  display: none;
  position: fixed;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  top: 0; }
  .headerWhite .dropDownWrap {
    float: right;
    height: 50px;
    margin-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: none; }
    .headerWhite .dropDownWrap .dropdown-menu {
      width: 0;
      font-size: 25px;
      text-align: center; }
    .headerWhite .dropDownWrap #dropDownButton {
      color: #673AB7;
      font-size: 1.5rem;
      height: 40px;
      width: 40px;
      border: 1px solid #673AB7;
      border-radius: 50%;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .headerWhite .dropDownWrap #dropDownButton:hover {
        cursor: pointer;
        background-color: #673AB7;
        color: white; }
  .headerWhite .headerWrapper {
    width: 100%;
    height: 50px;
    max-width: 1400px;
    margin: 0 auto; }
  .headerWhite .headerLogo {
    height: 100%;
    width: 30%;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .headerWhite .headerLogo object {
      height: 95%;
      margin-left: 25px; }
      .headerWhite .headerLogo object .st0 {
        stroke: #673AB7; }
    .headerWhite .headerLogo p {
      margin-left: 10px;
      color: #673AB7;
      font-size: 20px;
      font-weight: lighter; }
  .headerWhite .navButtons {
    width: 60%;
    float: right;
    height: 100%;
    margin-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .headerWhite .navButtons a {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none; }
    .headerWhite .navButtons button {
      margin-right: 5px;
      margin-left: 5px;
      border-radius: 15px;
      background-color: white;
      border: 1px solid #673AB7;
      width: 100px;
      background-color: rgba(255, 255, 255, 0);
      color: #673AB7;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .headerWhite .navButtons button:hover {
        background-color: #9575CD;
        border: 1px solid #9575CD;
        color: white; }
    .headerWhite .navButtons #githubNav {
      margin-left: 5px;
      color: #673AB7;
      font-size: 30px; }
      .headerWhite .navButtons #githubNav:hover {
        color: #9575CD;
        cursor: pointer;
        text-decoration: none; }

.contactWrap {
  position: relative;
  z-index: 81;
  height: 100vh;
  height: 100%;
  min-height: 800px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-linear-gradient(#673AB7, #9575CD);
  background: linear-gradient(#673AB7, #9575CD); }
  .contactWrap #contactTitle {
    max-width: 800px;
    display: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
  .contactWrap .contacts {
    color: white;
    font-size: 4em;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    width: 400px;
    height: 150px;
    opacity: 0; }
    .contactWrap .contacts a {
      color: white;
      text-decoration: none; }
    .contactWrap .contacts a:hover {
      color: white; }
    .contactWrap .contacts .icon {
      margin-right: 25px; }
    .contactWrap .contacts #mail {
      border: 1px solid white;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .contactWrap .contacts #phone {
      border: 1px solid white;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .contactWrap .contacts h2 {
      margin: 10px;
      font-size: 2rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
  .contactWrap .linkWrap {
    padding-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .contactWrap .linkWrap h2 {
      color: white;
      font-weight: lighter;
      font-weight: bold; }
  .contactWrap .links {
    color: white;
    font-size: 2rem;
    height: 50px;
    margin: 5px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .contactWrap .links a {
      color: #EDE7F6;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      margin: 25px;
      width: 100px; }
    .contactWrap .links a:hover {
      color: white;
      cursor: pointer; }
    .contactWrap .links a:hover p {
      text-decoration: underline; }
    .contactWrap .links .viewResume {
      margin-top: 25px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .contactWrap .links .viewResume i {
        font-size: 2.5rem;
        height: 50px;
        width: 50px;
        border: 1px solid white;
        padding-left: 1px;
        border-radius: 50%;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .contactWrap .links .viewResume i:hover {
          background-color: white;
          color: #673AB7; }
  .contactWrap .footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .contactWrap .footer i {
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      height: 40px;
      width: 40px;
      margin-left: 10px;
      font-size: 2rem;
      margin-right: 10px;
      border: 1px solid #673AB7;
      color: #673AB7;
      border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .contactWrap .footer i:hover {
      color: white;
      border: 1px solid white;
      background-color: #673AB7;
      cursor: pointer; }

/**************************
IMPORTS
**************************/
@media screen and (max-width: 1400px) {
  .landingWrapper {
    min-height: 600px; }

  .workWrap .individWorkWrap {
    max-width: 800px;
    height: 85%;
    margin: 0 auto; }
  .workWrap .theGoods {
    max-width: 800px;
    margin: 0 auto; }
  .workWrap .lineWork {
    max-width: 800px;
    margin: 0 auto; }

  .resumeWrap .skillsWrap {
    max-width: 800px;
    margin: 0 auto; }
  .resumeWrap .experienceWrap {
    max-width: 800px;
    margin: 0 auto; }
  .resumeWrap .educationWrap {
    margin: 0 auto; } }
@media screen and (max-width: 800px) {
  .aboutPage {
    min-height: 600px;
    height: 600px; }

  .aboutMeWrap .picture {
    display: none; }
  .aboutMeWrap .description {
    padding-left: 40px; }

  .continueAnimate {
    display: none; } }
@media screen and (max-width: 700px) {
  .header .navButtons {
    display: none; }

  .headerWhite .navButtons {
    display: none; }

  .header .dropDownWrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .header .headerLogo {
    width: 70%; }
    .header .headerLogo object {
      width: 25px;
      height: 50px; } }
@media screen and (max-width: 450px) {
  .contentWrapper {
    width: 100%; }
    .contentWrapper object {
      height: 100%;
      width: 100%; }

  #githubLand {
    display: none; }

  .aboutMeWrap .description {
    width: 400px;
    height: 100%;
    padding-left: 25px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
    .aboutMeWrap .description h1 {
      color: white;
      margin-bottom: 25px;
      font-size: 36  px; }
    .aboutMeWrap .description h2 {
      font-weight: lighter;
      font-size: 26px; }
    .aboutMeWrap .description #passionate {
      color: #7E57C2; }
    .aboutMeWrap .description #creative {
      color: #9575CD; }
    .aboutMeWrap .description #curious {
      color: #B39DDB; }
    .aboutMeWrap .description p {
      color: white;
      font-size: 16px; }
    .aboutMeWrap .description #reachOut {
      margin-top: 25px; }
    .aboutMeWrap .description #emailLink {
      text-align: center;
      font-size: 16px; }

  .workWrap .theGoods h1 {
    color: #AD8B32;
    font-weight: bold;
    font-size: 5rem; }

  .resumeWrap .educationWrap .education h3 {
    font-size: 20px; }

  .contactWrap .contacts {
    width: 100%; }

  .contactWrap .contacts h2 {
    font-size: 1.5rem; }

  .contactWrap {
    min-height: 600px; }

  .contactWrap .contacts {
    width: 80%; } }
@media screen and (max-width: 380px) {
  .workWrap .individWorkWrap .works .description h2 {
    margin-top: 15px; }

  .workWrap .individWorkWrap .works {
    height: 550px; }

  .workWrap .individWorkWrap .works .description {
    margin-top: 5px; }

  .contactWrap .contacts {
    width: 100%; }

  .landingWrapper {
    min-height: 525px;
    height: 40vh; } }

/*# sourceMappingURL=styles.css.map */
